<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SwrSharp Samples</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted">Getting Started</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">Weather (UseQuery)</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todos">Todos (UseMutation)</NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted">Query Basics</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/query-keys">Query Keys</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/query-functions">Query Functions</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/query-options">Query Options</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/query-retries">Query Retries</NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted">Data Patterns</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/parallel-queries">Parallel Queries</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/dependent-queries">Dependent Queries</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/paginated-queries">Paginated Queries</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/infinite-queries">Infinite Queries</NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted">State & Lifecycle</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/background-fetching">Background Fetching</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/disabling-queries">Disabling/Pausing</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/window-focus">Window Focus</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/network-mode">Network Mode</NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted">Cache & Data</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/initial-data">Initial Data</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/placeholder-data">Placeholder Data</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/caching-examples">Caching Examples</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/default-query-function">Default Query Fn</NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted">Mutations</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/mutations">Mutations</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/invalidations-from-mutations">Invalidations</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/optimistic-updates">Optimistic Updates</NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted">Advanced</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/query-invalidation">Query Invalidation</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/filters">Filters</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/query-cancellation">Query Cancellation</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/logging">Logging</NavLink>
        </div>
    </nav>
</div>
